In [1]:
import pandas as pd

In [2]:
people = {"first": ["Gede","Gusti","Putu"],
            "last": ["Jaya","Hunji","Dio"],
             "email" : ["gedejaya@gmail.com","gustihunji@gmail.com","putudio@gmail.com"]}

In [23]:
data = pd.DataFrame(people)

In [4]:
data

   first   last                 email
0   Gede   Jaya    gedejaya@gmail.com
1  Gusti  Hunji  gustihunji@gmail.com
2   Putu    Dio     putudio@gmail.com

In [24]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [35]:
data.set_index("email",inplace=True) # change index

In [36]:
data.loc[["gedejaya@gmail.com","putudio@gmail.com"],["last","first"]]

                    last first
email
gedejaya@gmail.com  Jaya  Gede
putudio@gmail.com    Dio  Putu

In [37]:
data.reset_index(inplace=True) # reset
data

                  email  index  first   last
0    gedejaya@gmail.com      0   Gede   Jaya
1  gustihunji@gmail.com      1  Gusti  Hunji
2     putudio@gmail.com      2   Putu    Dio