In [12]:
people= {"first" : ["agung","kurao","mandako"],
        "last":["dwipa","anas","anas"],
        "email": ["agungdwipa@gmail.com","kuraoanas@gmail.com","mandakoanas@gmail.com"]}

In [13]:
import pandas as pd
data = pd.DataFrame(people)

In [14]:
data

     first   last                  email
0    agung  dwipa   agungdwipa@gmail.com
1    kurao   anas    kuraoanas@gmail.com
2  mandako   anas  mandakoanas@gmail.com

In [40]:
filt = (data["last"] == "anas") | (data["first"]=="kurao")
filt2 = (data["last"] == "anas") & (data["first"] == "mandako")

In [61]:
data.loc[-filt,"email"] # '-' mengembalikan false value

0    agungdwipa@gmail.com
Name: email, dtype: object

In [62]:
data.loc[filt2,"email"] # normal tanpa "-" dan menggunakan operator "&"

2    mandakoanas@gmail.com
Name: email, dtype: object

In [63]:
filt_data = data["email"].str.contains("anas")

In [64]:
data.loc[-filt_data,"email"]

0    agungdwipa@gmail.com
Name: email, dtype: object