In [22]:
import pandas as pd

In [23]:
people = {"first": ["Gede","Gusti","Putu","Feto"],
            "last": ["Jaya","Hunji","Dio","Dio"],
             "email" : ["gedejaya@gmail.com","gustihunji@gmail.com","putudio@gmail.com","Fet@email.com"]}

In [24]:
data = pd.DataFrame(people)

In [33]:
data.sort_values(by=["last","first"],ascending=[True,False],inplace=True)
data

   first   last                 email
2   Putu    Dio     putudio@gmail.com
3   Feto    Dio         Fet@email.com
1  Gusti  Hunji  gustihunji@gmail.com
0   Gede   Jaya    gedejaya@gmail.com

In [34]:
data.sort_index()

   first   last                 email
0   Gede   Jaya    gedejaya@gmail.com
1  Gusti  Hunji  gustihunji@gmail.com
2   Putu    Dio     putudio@gmail.com
3   Feto    Dio         Fet@email.com

In [35]:
data["last"].sort_values(ascending=True)

2      Dio
3      Dio
1    Hunji
0     Jaya
Name: last, dtype: object