In [225]:
import pandas as pd
public_df = pd.read_csv("data/survey_results_public.csv",index_col="Respondent")
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="Column")

In [226]:
pd.set_option("display.max_columns",61)
pd.set_option("display.max_rows",61)

In [227]:
public_df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [228]:
public_df["ConvertedComp"].median()

54049.0

In [229]:
public_df.median()

Age                 29.0
CompTotal        63000.0
ConvertedComp    54049.0
WorkWeekHrs         40.0
dtype: float64

In [230]:
public_df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [231]:
public_df["ConvertedComp"].count()

34756

In [232]:
public_df["Hobbyist"].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [233]:
filt = public_df["Country"] == "Indonesia"
jumlah = filt.value_counts(normalize=True)[1]
jumlah

0.007741114782581716

In [234]:
public_df["Country"].value_counts(normalize=True) # dalam bentuk persentase

United States     0.194609
India             0.131149
United Kingdom    0.060807
Germany           0.060713
Canada            0.034196
                    ...
Lesotho           0.000016
Fiji              0.000016
Gabon             0.000016
Chad              0.000016
Mali              0.000016
Name: Country, Length: 183, dtype: float64

In [235]:
country_grp = public_df.groupby(public_df["Country"])

In [236]:
country_grp["Age"].value_counts(normalize=True).loc["Indonesia"]

Age
21.0    0.109804
24.0    0.090196
20.0    0.070588
22.0    0.070588
23.0    0.062745
19.0    0.058824
25.0    0.054902
26.0    0.043137
28.0    0.043137
27.0    0.039216
29.0    0.039216
30.0    0.039216
16.0    0.031373
31.0    0.031373
18.0    0.027451
33.0    0.023529
32.0    0.019608
35.0    0.019608
39.0    0.015686
1.0     0.011765
17.0    0.011765
36.0    0.011765
40.0    0.011765
42.0    0.011765
13.0    0.007843
15.0    0.007843
38.0    0.007843
34.0    0.003922
37.0    0.003922
45.0    0.003922
48.0    0.003922
51.0    0.003922
52.0    0.003922
54.0    0.003922
Name: Age, dtype: float64

In [237]:
country_grp["ConvertedComp"].median().loc["Indonesia"]

7908.0

In [238]:
country_grp["ConvertedComp"].agg(["median","mean"]).loc["Indonesia"]

median     7908.000000
mean      19266.477941
Name: Indonesia, dtype: float64

In [256]:
filt = public_df["Country"] == "Indonesia"
public_df.loc[filt]["LanguageWorkedWith"].str.contains('Python').sum()

142

In [266]:
country_grp["LanguageWorkedWith"].str.contains('Python').sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [328]:
country_response = public_df["Country"].value_counts()

In [329]:
use_python = country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains('Python').sum())
use_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [343]:
python_df = pd.concat([country_response,use_python],axis="columns",sort=False)
python_df

                Country  LanguageWorkedWith
United States     12469                5964
India              8403                2670
United Kingdom     3896                1621
Germany            3890                1712
Canada             2191                1011
...                 ...                 ...
Lesotho               1                   0
Fiji                  1                   0
Gabon                 1                   1
Chad                  1                   0
Mali                  1                   0

[183 rows x 2 columns]

In [344]:
python_df.rename(columns={"Country":"Sum respons","LanguageWorkedWith":"Use python"},inplace=True)

In [345]:
python_df

                Sum respons  Use python
United States         12469        5964
India                  8403        2670
United Kingdom         3896        1621
Germany                3890        1712
Canada                 2191        1011
...                     ...         ...
Lesotho                   1           0
Fiji                      1           0
Gabon                     1           1
Chad                      1           0
Mali                      1           0

[183 rows x 2 columns]

In [355]:
python_df["Pct Use Python"] = (python_df["Use python"]/python_df["Sum respons"])*100 
python_df

                Sum respons  Use python  Pct Use Python
United States         12469        5964       47.830620
India                  8403        2670       31.774366
United Kingdom         3896        1621       41.606776
Germany                3890        1712       44.010283
Canada                 2191        1011       46.143314
...                     ...         ...             ...
Lesotho                   1           0        0.000000
Fiji                      1           0        0.000000
Gabon                     1           1      100.000000
Chad                      1           0        0.000000
Mali                      1           0        0.000000

[183 rows x 3 columns]

In [361]:
python_df.sort_values(by="Pct Use Python",ascending=False,inplace=True)

In [362]:
python_df

                                    Sum respons  Use python  Pct Use Python
Saint Lucia                                   1           1      100.000000
Micronesia, Federated States of...            1           1      100.000000
Gabon                                         1           1      100.000000
Montenegro                                   13           9       69.230769
Brunei Darussalam                             3           2       66.666667
...                                         ...         ...             ...
North Korea                                   1           0        0.000000
Lesotho                                       1           0        0.000000
Fiji                                          1           0        0.000000
Chad                                          1           0        0.000000
Mali                                          1           0        0.000000

[183 rows x 3 columns]

In [363]:
python_df.loc["Indonesia"]

Sum respons       499.000000
Use python        142.000000
Pct Use Python     28.456914
Name: Indonesia, dtype: float64